.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(-10px);
    margin-top: 2px;

    min-width: 160px;

    border-radius: 0.5rem;
    
    background: white;
    opacity: 0;
    box-shadow: 0 2px 20px 3px rgba(0, 0, 0, 0.1);
    
    transition: all 0.3s;
    pointer-events: none;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-content a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: var(--fonte-principal);
    text-decoration: none;
    font-size: 16px;
    font-family: var(--fonte-principal);

    padding: 0.5rem 1rem;

    svg{
        color: black;
    }
}

.content-box:hover{
    background-color: rgb(231, 231, 231);

    border-radius: 10px;
    
    transition: 0.3s;
}